:root {
  --standard-text-color: #000000;
  --standard-button-text-color: #ffffff;
  --standard-button-text-color-hover: #000000;

  --button-backgroung-color-hover: #c0d7ef;

  --basic-button-backgroung-color: #7a91a9;

  --site-background-color: #b6cde5;
  --modal-background-color: #f2ffff;

  --list-element-color: #cae1f9;
  --list-element-color-hover: #fae3ca;
}
