.mainPage {
  background-color: var(--site-background-color);

  align-self: center;
  padding: 5em;
  text-align: center;

  display: grid;
  grid-template-columns: 1fr 1fr;
}

.mainAuthContainer {
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
  align-self: center;
  width: 5em;
}
